html {
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100%;
  margin: 0;
}

body h1 {
  font-weight: 500;
}

.strong-gray {
  color: #4F4F4F;
}

.button-primary {
  background: #0063A7;
  border-color: #0063A7;
  border-radius: 10px;
  color: white;
  width: 250px !important;
  height: 60px !important;
}

.button-green {
  background: #81BD41;
  border-color: #81BD41;
  border-radius: 10px;
  color: white;
  width: 250px !important;
  height: 60px !important;
}

.button-secondary {
  background: transparent;
  border: white 2px solid;
  border-radius: 10px;
  color: white;
  width: 250px !important;
  height: 60px !important;
}

.cargarButton {
  background: #0063A7;
  border-color: #0063A7;
  border-radius: 10px;
  color: white;
  width: 140px !important;
  height: 39px !important;
}

.bg-green-light {
  background-color: #D9ECB9 !important;
}

.text-gray {
  color: #56565A !important;
}

.cardPrimary {
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px lightgrey;
          box-shadow: 5px 5px 10px lightgrey;
  height: 382px;
  padding: 0;
  width: 300px;
}

.cardPrimary img {
  border-radius: 20px 20px 0px 0px;
}

.cardPrimary h5 {
  font-size: 20px;
}

.cardPrimary p {
  color: #56565A;
  font-size: 14px;
}

.cardPrimary div small {
  color: #56565A;
  font-size: 12px;
}

.cardPrimary div a {
  color: #96C93D;
  font-size: 14px;
}

.faqCard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E5EFF6;
  border-radius: 20px;
  -webkit-box-shadow: 5px 10px 15px #cccccc;
          box-shadow: 5px 10px 15px #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 217px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  padding: 0;
  width: 335px;
}

.faqCard h3 {
  color: #2B328C;
  font-size: 16px;
  margin-top: 15px;
}

.faqCard h3 span {
  color: #96C93D;
}

#navbar {
  background: #96C93D !important;
}

#navbar #navbarNavDropdown a {
  color: #231F20;
}

.contact-button {
  background-color: #0063A7;
  border-radius: 100px;
  color: white;
  height: 39px;
  width: 148px;
}

#header-container {
  height: 300px;
}

#header-container #image-1 {
  border-radius: 0px 0px 80px 80px;
}

#header-container #green-rectangle {
  background: #96C93D;
  border-radius: 0px 0px 80px 80px;
  height: 135px;
  margin: -12px auto 10px auto;
  width: 112px;
}

#header-container #image-2 {
  border-radius: 80px 80px 0px 0px;
}

#header-container #image-3 {
  border-radius: 0px 0px 80px 80px;
}

#header-text {
  background-color: rgba(255, 255, 255, 0.6);
  height: 300px;
  padding: 0px 20px;
}

#header-text #header-text-box h1 {
  font-size: 24px;
  font-weight: 500;
}

#header-text #header-text-box h1 span {
  font-weight: 700;
}

.bg-green-light {
  background-color: #D9ECB9 !important;
}

#team-drop {
  border-radius: 150px 0px 150px 0px;
  margin-top: 20px;
  height: 405px;
  width: 270px;
}

#benefits-container h3 {
  font-size: 24px;
  line-height: 32px;
}

#benefits-container p {
  color: #56565A;
}

#message-container {
  background: white;
  border-radius: 10px;
  color: #18191F !important;
  font-family: 'Inter', sans-serif;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 30px;
  margin: 30px;
  padding: 20px;
  text-align: left;
}

#message-container .quotation {
  color: #2EC5CE;
  font-size: 72px;
  margin-top: 16px;
}

#triangle {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 25px solid white;
  height: 0;
  position: absolute;
  width: 0;
}

#headerConocenos {
  background-image: url("../img/background/bg-sm-conocenos.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 421px;
  position: relative;
}

#headerConocenos::before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#headerConocenos div h3 {
  font-size: 35px;
  font-weight: 500;
}

#headerConocenos div h3 span {
  font-weight: 700;
}

#headerConocenos div p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 21px;
}

#headerConocenos div button {
  margin-top: 30px;
}

#partnersConocenos {
  height: 277px;
}

#partnersConocenos div h3 {
  font-size: 24px;
  margin-top: 40px;
}

#partnersConocenos div div {
  margin-top: 25px;
}

#misionSection {
  height: 800px;
}

#misionSection #misionImage {
  background-image: url("../img/people/mision-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 337px;
}

#misionSection div h3 {
  color: #18191F;
  font-size: 35px;
  padding-bottom: 15px;
}

#misionSection div p {
  color: #231F20;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 25px;
}

#misionSection div a {
  color: #96C93D;
}

#misionSection div:last-child {
  padding: 0px 20px;
}

#valoresSection {
  height: 1000px;
}

#valoresSection #valoresImage {
  background-image: url(../img/people/valores-sm-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 336px;
  position: relative;
}

#valoresSection #valoresText {
  text-align: center !important;
}

#valoresSection #valoresText h3 {
  font-size: 35px;
  font-weight: 500;
}

#valoresSection #valoresText p {
  color: #231F20;
  font-size: 24px;
  margin-top: 41px;
}

#valoresSection #valoresText p::before {
  margin-top: -13px;
  margin-left: -80px;
  position: absolute;
}

#valoresSection #valoresText #pasionIcon::before {
  content: url("../img/icons/valores/pasion.png");
}

#valoresSection #valoresText #humanismoIcon {
  margin-left: 58px;
}

#valoresSection #valoresText #humanismoIcon::before {
  content: url("../img/icons/valores/humanismo.png");
}

#valoresSection #valoresText #enfoqueIcon {
  margin-left: 19px;
}

#valoresSection #valoresText #enfoqueIcon::before {
  content: url("../img/icons/valores/enfoque.png");
}

#valoresSection #valoresText #excelenciaIcon {
  margin-left: 44px;
}

#valoresSection #valoresText #excelenciaIcon::before {
  content: url("../img/icons/valores/excelencia.png");
}

#valoresSection #valoresText #compromisoIcon {
  margin-left: 65px;
}

#valoresSection #valoresText #compromisoIcon::before {
  content: url("../img/icons/valores/compromiso.png");
}

#valoresSection #valoresText #honestidadIcon {
  margin-left: 53px;
}

#valoresSection #valoresText #honestidadIcon::before {
  content: url("../img/icons/valores/honestidad.png");
}

#icons-section {
  background-color: #D9ECB9;
  height: 750px;
}

#icons-section h2 {
  font-size: 34px;
  font-weight: 500;
  line-height: 44px;
  margin-top: 50px;
}

#icons-section h2 span {
  color: #56565A;
}

#icons-section h3 {
  color: #231F20;
  font-size: 18px;
  font-weight: 700;
}

#icons-section p {
  color: #56565A;
  font-size: 14px;
}

#coberturaSection {
  height: 553px;
}

#coberturaSection div h3 {
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  padding-bottom: 15px;
}

#coberturaSection div p {
  color: #56565A;
  font-size: 14px;
  padding: 0px 10px;
}

#coberturaSection img {
  height: 170px;
  margin-top: -50px;
  width: 335px;
}

#bannerConocenos {
  background-image: url("../img/background/banner-conocenos-sm.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 224px;
}

#bannerConocenos h3 {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

#headerBlog {
  margin-bottom: 50px;
}

#headerBlog #headerConocenos {
  background-image: url("../img/background/bg-sm-blog.png");
}

#postsContainer {
  height: 1718px;
}

#destacadosContainer {
  height: auto;
}

#destacadosContainer #subtitleDestacados {
  padding: 0 20px;
  text-align: center;
}

#destacadosContainer #subtitleDestacados h2 {
  font-size: 34px !important;
  font-weight: 500;
  margin-bottom: 30px;
}

#destacadosContainer .cardPrimary {
  margin-bottom: 30px;
}

#destacadosContainer button {
  margin-bottom: 50px;
}

#principalArticle #misionSection {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: center;
}

#principalArticle #misionSection #misionImage {
  background-image: url("../img/blog/blog-article-sm.png") !important;
}

#principalArticle #misionSection p, #principalArticle #misionSection small {
  color: #56565A;
}

#suscribeteSection {
  background-color: #81BD41;
  height: 433px;
}

#suscribeteSection form h3 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

#suscribeteSection form p {
  color: white;
  font-size: 22px;
  font-weight: 300;
  padding: 0px 30px;
}

#suscribeteSection form input {
  background-color: #8dca4b;
  border-color: #8dca4b;
  border-bottom: 2px solid #56565A;
  margin: 0px auto 15px auto;
  max-width: 520px !important;
}

#mainArticleImg {
  height: 358px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 421px;
  position: relative;
}

#articleSection .article {
  border: none;
}

#articleSection .article img {
  height: 421px;
  margin-bottom: 40px;
  width: 100%;
}

#articleSection .article .card-body {
  margin-bottom: 35px;
}

#articleSection .article .card-body h3 {
  font-size: 28px;
  margin-bottom: 20px;
}

#articleSection .article .card-body h4 {
  font-size: 24px;
  margin: 20px 0px;
}

#articleSection .article .card-body p {
  font-size: 16px;
}

#articleSection #authorSection {
  text-align: center;
}

#articleSection #authorSection .author-container {
  border-top: dotted 2px #b3b3b3;
  margin-bottom: 45px;
}

#articleSection #authorSection .author-container img {
  margin-top: 30px;
  height: 72px;
  width: 72px;
}

#articleSection #authorSection .author-container div {
  margin-top: 18px;
}

#articleSection #authorSection .author-container div p {
  color: #231F20;
  font-size: 16px;
  font-weight: 400;
}

#articleSection #authorSection .author-container div h3 {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#contactSection {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddf0fd), to(white));
  background: linear-gradient(to bottom, #ddf0fd, white);
  height: 795px;
}

#contactSection #contactText {
  height: 225px;
  text-align: center;
  padding: 0px 25px;
}

#contactSection #contactText h3 {
  color: #0063A7;
  font-size: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
}

#contactSection #contactText p {
  color: #56565A;
  font-size: 16px;
}

#contactSection #contactCard {
  max-width: 1000px;
  height: 570px;
}

#contactSection #contactCard form {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 3px 3px 10px silver;
          box-shadow: 3px 3px 10px silver;
  border-radius: 16px;
  height: 100%;
  padding: 20px;
}

#contactSection #contactCard form div {
  padding: 10px 0px;
}

#contactSection #contactCard form div label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

#contactSection #contactCard form div button {
  background-color: #0063A7;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  height: 40px !important;
  width: 134px !important;
}

#contactSection #contactCard form div #inputText {
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  height: 150px;
  padding: 10px;
  width: 100%;
}

#contactIconsSection {
  height: 577px;
  font-size: 28px;
}

#contactIconsSection h3 {
  margin-top: 25px;
}

#iconsFAQ {
  height: 900px;
}

#iconsFAQ h3 {
  font-size: 34px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 20px;
}

#iconsFAQ .faqCard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E5EFF6;
  border-radius: 20px;
  -webkit-box-shadow: 5px 10px 15px #cccccc;
          box-shadow: 5px 10px 15px #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 217px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  padding: 0;
  width: 335px;
}

#iconsFAQ .faqCard h3 {
  color: #2B328C;
  font-size: 16px;
  margin-top: 15px;
}

#iconsFAQ .faqCard h3 span {
  color: #96C93D;
}

#preguntasSection {
  background-color: #D9ECB9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 20px;
}

#preguntasSection h3 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 30px;
}

#preguntasSection .question {
  background-color: white;
  border-radius: 3px;
  margin-top: 25px;
  max-width: 700px;
  padding-left: 25px;
  padding-right: 13px;
}

#preguntasSection .question div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#preguntasSection .question div p {
  font-weight: 500;
  margin: 0;
}

#preguntasSection .question div .plus {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0063A7;
  border-radius: 100%;
  color: #0063A7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  height: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
}

#preguntasSection .question p {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#iconsSolutions {
  height: 1086px;
  padding: 50px 20px 0px 20px;
}

#solutionsContainer {
  height: 1619px;
  background-color: #D9ECB9;
  padding: 50px 20px;
}

#solutionsContainer #subtitleDestacados {
  text-align: center;
}

#solutionsContainer #subtitleDestacados h2 {
  font-size: 36px !important;
  font-weight: 500;
  line-height: 35px;
}

#solutionsContainer .cardPrimary {
  height: 450px;
}

#transformSection {
  background-color: #2B328C;
  height: 500px;
  padding: 0px 45px;
}

#transformSection div h3 {
  color: white;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 15px;
}

#transformSection div p {
  color: white;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 15px;
}

#transformSection div button {
  background-color: #81BD41;
  border-radius: 10px;
  color: white;
  font-size: 20px !important;
  height: 44px;
  width: 194px;
}

#serviciosHeader #header-text #header-text-box div h1 span {
  background-color: #0063A7;
  color: white;
  padding: 0px 3px;
}

#serviciosHeader #header-text #header-text-box p {
  color: #231F20 !important;
  font-size: 14px;
  padding: 0px 65px;
}

#diagnosticoSection .diagImg img {
  height: 244px;
  width: 100%;
}

#diagnosticoSection .diagText {
  padding: 50px 20px !important;
}

#diagnosticoSection .diagText h3 {
  color: #231F20;
  font-size: 32px;
  margin-bottom: 24px;
}

#diagnosticoSection .diagText p {
  color: #231F20;
  font-size: 16px;
  margin-bottom: 20px;
}

#diagnosticoSection .diagText a {
  color: #96C93D;
  font-size: 16px;
}

#historiasSection {
  height: auto;
}

#historiasSection div img {
  width: 100%;
}

#historiasSection .historiasText {
  padding: 50px 20px;
}

#historiasSection .historiasText h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

#historiasSection .historiasText p {
  font-size: 16px;
  margin-bottom: 20px;
}

#historiasSection .historiasText .datosHistorias {
  padding: 0px 60px;
}

#historiasSection .historiasText .datosHistorias span {
  font-size: 48px;
  font-weight: 700;
}

#historiasSection .historiasText .datosHistorias p {
  font-weight: 700;
  line-height: 24px;
}

#beneficiosSection {
  background-color: #D9ECB9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1200px;
  padding: 50px 20px;
}

#beneficiosSection #beneficiosText h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 35px;
}

#beneficiosSection #beneficiosText .beneficiosIcon img {
  margin-right: 20px;
}

#beneficiosSection #beneficiosText .beneficiosIcon h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

#beneficiosSection #beneficiosText .beneficiosIcon p {
  color: #56565A;
  font-size: 14px;
  margin-bottom: 25px;
}

#beneficiosSection #beneficiosImages #beneficiosImg1 {
  height: 188px;
  width: 140px;
}

#beneficiosSection #beneficiosImages #beneficiosImg2 {
  height: 151px;
  width: 151px;
}

#beneficiosSection #beneficiosImages #beneficiosImg3 {
  height: 160px;
  width: 92px;
}

#beneficiosSection #beneficiosImages #beneficiosImg4 {
  height: 200px;
  width: 200px;
}

footer {
  bottom: 0;
  display: block;
  background: #81BD41;
  width: 100%;
}

footer #links-footer a {
  text-decoration: none;
  color: #231F20;
}

@media (max-width: 767px) {
  .icono-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 0px 50px;
  }
  #header-text {
    position: absolute;
  }
  #header-text #home-title {
    line-height: 31px !important;
  }
  #navbar {
    background: #96C93D !important;
    padding: 0px 0px 0px 8px;
    text-align: center;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  #navbar a {
    color: white;
  }
  #navbar a:hover {
    background: white;
    color: black;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  #team-drop-row {
    text-align: center;
    width: 100%;
  }
  #team-drop-row p {
    color: #56565A;
  }
  #icons-container {
    width: 75%;
  }
  #contact-button-section {
    height: 286px;
  }
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #81BD41;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 484px;
  }
  footer #footer-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer #links-footer a {
    color: #231F20;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 13px;
    text-decoration: none;
  }
  footer #icons-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer #icons-container div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer #icons-container img {
    padding-top: 25px;
  }
}

@media (min-width: 768px) {
  #people-container {
    background: black !important;
  }
  #green-rectangle {
    background: #96C93D;
    border-radius: 0px 0px 80px 80px;
    height: 170px !important;
    margin: 0px 0px 15px 0px !important;
    width: 142px !important;
  }
  #header-section {
    max-width: 1500px;
    height: 352px;
  }
  #header-section #header-text {
    background-color: rgba(255, 255, 255, 0.6);
    height: 400px !important;
    padding: 0px 50px;
    position: absolute;
  }
  #header-section #header-text #header-text-box {
    margin-top: -50px;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    text-align: left;
    width: 75%;
  }
  #header-section #header-text #header-text-box #home-title {
    line-height: 42px !important;
  }
  #header-section #header-text #header-text-box h1 {
    font-size: 32px;
    text-align: left;
  }
  #header-section #header-text #header-text-box h1 span {
    font-weight: 700;
  }
  #team-drop-text-container p {
    color: #56565A;
  }
  .subtitles-md {
    font-size: 35px !important;
    text-align: center;
  }
  .numbers-md {
    font-size: 18px;
  }
  #team-drop-section {
    margin-top: 120px;
  }
  #team-drop-section #team-drop-row {
    width: 65%;
  }
  #icons-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 13px !important;
    padding-bottom: 30px;
  }
  #icons-container div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  #icons-container img {
    padding-top: 30px;
  }
  #icons-md-section {
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 4%;
    margin-top: 35px;
    position: absolute !important;
    width: 100%;
    z-index: 100;
  }
  #icons-md-section #icons-md-container {
    background: white;
    -webkit-box-shadow: 1px 1px 10px #e6e6e6 !important;
            box-shadow: 1px 1px 10px #e6e6e6 !important;
    border-radius: 10px;
    height: 153px !important;
    margin-top: -120px;
    width: 92%;
  }
  #icons-md-section #icons-md-container p {
    font-size: 14px;
  }
  .icono-wrap div {
    width: 100% !important;
  }
  #message-container {
    font-size: 18px !important;
  }
  #headerConocenos {
    background-image: url("../img/background/bg-md-conocenos.png");
  }
  #headerConocenos div {
    margin: 0px auto;
    position: block;
    width: 75%;
  }
  #headerConocenos div h3 {
    font-size: 32px;
  }
  #headerConocenos div p {
    font-size: 16px;
  }
  #partnersConocenos {
    height: 188px;
  }
  #partnersConocenos h3 {
    margin-top: 25px !important;
    margin-bottom: 0px !important;
  }
  #misionSection {
    height: 1100px;
  }
  #misionSection #misionImage {
    background-image: url("../img/people/mision-bg-md.png");
    height: 689px;
  }
  #valoresSection {
    height: 1300px;
  }
  #valoresSection #valoresImage {
    background-image: url(../img/people/valores-md-bg.png);
    height: 636px;
    position: relative;
  }
  #icons-section {
    height: 315px;
  }
  #icons-section h2 {
    margin-top: 30px;
  }
  #icons-section h2 span {
    color: #56565A;
  }
  #coberturaSection {
    height: 618px;
  }
  #coberturaSection div p {
    font-size: 16px;
  }
  #coberturaSection img {
    height: 358px;
    width: 100%;
  }
  #bannerConocenos {
    background-image: url("../img/background/banner-conocenos-md.png");
    height: 400px;
  }
  #bannerConocenos h3 {
    color: white;
    font-size: 34px;
    font-weight: 400;
  }
  #footer2 {
    height: 281px !important;
  }
  #footer2 #footer-container {
    margin-top: 20px;
  }
  #postsContainer {
    height: 894px;
  }
  #principalArticle #misionSection {
    height: 812px;
  }
  #principalArticle #misionSection #misionImage {
    background-image: url("../img/blog/blog-article-md.png");
    height: 506px;
  }
  #principalArticle #misionSection #misionText {
    text-align: left;
    padding: 20px 30px 20px 30px;
  }
  #suscribeteSection {
    height: 276px;
  }
  #suscribeteSection form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  #suscribeteSection form #inputsContainer {
    padding: 10px 50px 0px 50px;
  }
  #suscribeteSection form #inputsContainer input {
    height: 44px;
    margin-right: 15px;
  }
  #suscribeteSection form #inputsContainer button {
    height: 44px !important;
  }
  #destacadosContainer {
    height: auto !important;
    padding: 50px 0px;
  }
  #destacadosContainer #subtitleDestacados {
    margin-bottom: 35px;
  }
  #destacadosContainer .cardPrimary {
    margin-bottom: 30px;
  }
  #destacadosContainer button {
    margin-bottom: 0 !important;
  }
  .articleText {
    padding: 45px 60px 0px 60px;
  }
  .articleText h3 {
    font-size: 50px !important;
    font-weight: 600;
    margin-bottom: 45px !important;
    padding: 0px 50px;
  }
  .articleText h4 {
    font-size: 32px !important;
  }
  #compartirCard #compartirContainer {
    background-color: white;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
  }
  #compartirCard #compartirContainer a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #compartirCard #compartirContainer a p {
    padding-left: 12px;
  }
  #authorSection {
    padding: 0px 50px;
  }
  #authorSection .author-container {
    text-align: left;
    padding: 30px 20px 0px 0px !important;
  }
  #authorSection .author-container img {
    margin-right: 24px;
  }
  #contactText {
    height: 200px !important;
    padding: 20px 80px !important;
  }
  #contactCard {
    padding: 0px 50px;
  }
  #iconsFAQ h3 {
    font-size: 42px;
  }
  #preguntasSection {
    padding-bottom: 135px;
    margin-top: 20px;
  }
  #solutionsContainer {
    height: auto;
  }
  #solutionsContainer #subtitleDestacados {
    margin-bottom: 35px;
    padding: 0px 200px;
  }
  #solutionsContainer #subtitleDestacados h2 {
    font-size: 36px !important;
  }
  #solutionsContainer .cardPrimary {
    height: 700px;
    margin-bottom: 30px;
    width: 506px !important;
  }
  #solutionsContainer .cardPrimary .card-body {
    padding: 32px 60px;
  }
  #solutionsContainer .cardPrimary .card-body p {
    font-size: 16px;
  }
  #solutionsContainer .cardPrimary .card-body .seeMore {
    margin-top: 160px !important;
  }
  #transformSection {
    height: 322px;
  }
  .headerServicios {
    height: 400px !important;
  }
  .headerServicios #header-text {
    background-color: rgba(217, 236, 185, 0.6) !important;
  }
  #diagnosticoSection .diagImg img {
    height: 500px;
    width: 100%;
  }
  #diagnosticoSection .diagText {
    padding: 50px 180px !important;
  }
  #beneficiosSection {
    height: 1450px;
  }
  #beneficiosSection #beneficiosText {
    padding: 0px 142px 0px 142px;
  }
  #beneficiosSection #beneficiosText h2 {
    font-size: 36px;
    margin-bottom: 35px !important;
  }
  #beneficiosSection #beneficiosText h3 {
    font-size: 24px !important;
  }
  #beneficiosSection #beneficiosText p {
    font-size: 16px;
  }
  #beneficiosSection #beneficiosImages #beneficiosImg1 {
    height: 334px;
    width: 250px;
  }
  #beneficiosSection #beneficiosImages #beneficiosImg2 {
    height: 270px;
    width: 270px;
  }
  #beneficiosSection #beneficiosImages #beneficiosImg3 {
    height: 285px;
    width: 164px;
  }
  #beneficiosSection #beneficiosImages #beneficiosImg4 {
    height: 356px;
    width: 356px;
  }
  #historiasSection {
    height: auto !important;
  }
  #historiasSection .historiasText {
    height: auto !important;
    margin: 0;
    padding: 50px 0px 0px 0px !important;
  }
  #historiasSection .historiasText #headerHistorias {
    padding: 0px 130px;
  }
  #historiasSection .historiasText .datosHistorias {
    margin: 0;
    padding: 0 5px !important;
    text-align: left;
  }
  #historiasSection .historiasText .datosHistorias p {
    color: #CCCCCC;
  }
  footer {
    height: 369px !important;
  }
  footer #footer-banner {
    background: white;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: -90px;
    height: 176px;
    width: 96%;
  }
}

@media (min-width: 992px) {
  #header-section #header-container #image-4 {
    border-radius: 80px 80px 0px 0px;
    margin-top: 30px;
  }
  #header-section #header-container #image-5 {
    border-radius: 80px 80px 0px 0px;
    margin-top: 30px;
  }
  #header-section #header-text {
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 0px 20px;
  }
  #header-section #header-text #header-text-box {
    padding-left: 30px;
  }
  #header-section #header-text #header-text-box #home-title {
    line-height: 50px !important;
  }
  #header-section #header-text #header-text-box h1 {
    font-size: 42px !important;
    font-style: normal;
    width: 555px;
  }
  #header-section #header-text #header-text-box h1 span {
    font-weight: 700;
  }
  #team-drop-section {
    margin-top: 230px;
    background-color: #F5FBFF !important;
  }
  #team-drop-section #last-icons-container {
    border-right: none !important;
  }
  #team-drop-section #icons-md-container {
    height: 200px !important;
  }
  #team-drop-section .icons-lg-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #team-drop-section .icons-lg-container .icons-header-container {
    border-right: 2px solid #EEEFF2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 75%;
  }
  #team-drop-section .icons-lg-container .icons-header-container div {
    width: 50% !important;
  }
  #team-drop-section .icons-lg-container img {
    display: block;
    height: 55px;
    width: 55px;
  }
  #team-drop-section .icons-lg-container div {
    text-align: left;
  }
  #team-drop-section .icons-lg-container div h3 {
    font-size: 25px;
  }
  #team-drop-section #team-drop-row {
    text-align: left !important;
    width: 80%;
  }
  #team-drop-section #team-drop-row #team-drop {
    margin-top: 70px;
    margin-bottom: 10px;
    height: 523px;
    width: 349px;
  }
  #team-drop-section #team-drop-text-container {
    padding-top: 30px;
  }
  #team-drop-section #team-drop-text-container h3 {
    text-align: left;
    padding: 0px !important;
    width: 90%;
  }
  #message-container {
    padding-top: 40px;
    padding-bottom: 35px;
  }
  #headerConocenosCont {
    background-color: #D9ECB9;
  }
  #headerConocenos {
    background-image: none;
    height: 515px;
    max-width: 1500px;
    padding: 0px 30px;
  }
  #headerConocenos::before {
    display: none;
  }
  #headerConocenos div {
    margin: 0px 0px;
    position: block;
    text-align: left !important;
    width: 50%;
  }
  #headerConocenos div h3 {
    color: #231F20;
    font-size: 42px;
  }
  #headerConocenos div p {
    color: #56565A;
    font-size: 16px;
  }
  #headerConocenos img {
    border-radius: 20px;
    height: auto !important;
  }
  #partnersConocenos {
    height: 201px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #partnersConocenos div {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  #partnersConocenos div h3 {
    font-size: 24px;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
  }
  #partnersConocenos div div {
    margin-top: 20px;
  }
  #misionSection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 689px;
  }
  #misionSection div h3 {
    padding-bottom: 30px;
  }
  #misionSection div p {
    padding-bottom: 20px;
  }
  #misionSection div:last-child {
    padding: 0px 0px;
  }
  #valoresSection {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 689px;
  }
  #valoresSection #valoresImage {
    height: 689px;
  }
  #valoresSection #valoresText h3 {
    margin-left: 17%;
    text-align: left !important;
    max-width: 434px !important;
  }
  #valoresSection #valoresText p {
    text-align: left;
    margin-left: 37% !important;
  }
  #icons-section {
    height: 332px !important;
  }
  #icons-section #icons-subtitle {
    font-size: 35px;
    font-weight: 500;
    text-align: left;
  }
  #icons-section #icons-porcents {
    max-width: 650px;
  }
  #icons-section #icons-porcents h3 {
    font-size: 28px;
    font-weight: 500;
    margin-left: 30px;
    text-align: left;
  }
  #icons-section #icons-porcents p {
    font-size: 16px;
    margin-left: 30px;
    text-align: left;
  }
  #coberturaSection {
    height: 817px !important;
  }
  #coberturaSection p {
    width: 50%;
  }
  #coberturaSection img {
    max-height: 538px;
    height: auto;
    width: 80%;
  }
  #bannerConocenos {
    background-image: url("../img/background/banner-conocenos-lg.png");
    background-position: center;
    height: 538px;
  }
  #bannerConocenos div h3 {
    font-size: 58px;
    font-weight: 400;
    width: 60%;
  }
  #headerBlog {
    margin-bottom: 50px;
    background-color: #D9ECB9;
  }
  #headerBlog #headerConocenos {
    background-image: none;
  }
  #headerBlog #headerConocenos button {
    border: 2px solid #0063A7;
    color: #0063A7;
    font-weight: 700;
  }
  #headerBlog #headerConocenos #blogHeaderImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -webkit-box-shadow: #0063a7 -14px -14px 0px;
            box-shadow: #0063a7 -14px -14px 0px;
    color: white;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 450px;
  }
  #postsContainer {
    height: auto;
    max-width: 1500px !important;
    margin: 0px auto 65px auto;
    margin-left: auto;
    margin-right: auto;
  }
  #postsContainer .cardPrimary:first-of-type {
    border-radius: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    height: 243px;
    margin-bottom: 65px;
    width: 92% !important;
  }
  #postsContainer .cardPrimary:first-of-type img {
    border-radius: 0 !important;
    height: 243px !important;
    width: 60% !important;
  }
  #postsContainer .cardPrimary:first-of-type .card-body {
    padding: 40px 30px;
  }
  #postsContainer .cardPrimary:first-of-type .card-body h5 {
    font-size: 30px;
    margin-bottom: 27px;
  }
  #postsContainer .cardPrimary:first-of-type .card-body p {
    margin-bottom: 30px;
  }
  #principalArticle {
    padding: 0px 35px;
  }
  #principalArticle #misionSection {
    height: 536px;
    margin-bottom: 65px;
  }
  #principalArticle #misionSection #misionImage {
    height: 536px;
  }
  #principalArticle #misionSection #misionText {
    background-color: #F7FAFC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    padding: 100px 30px !important;
  }
  #destacadosBlog #destacadosContainer {
    padding: 65px 0px !important;
  }
  #destacadosBlog #destacadosContainer h2 {
    margin-bottom: 22px !important;
  }
  #destacadosBlog #destacadosContainer button {
    margin-top: 20px;
  }
  #articleSection {
    height: auto;
    padding: 45px 69px !important;
  }
  #articleSection #mainArticleImg {
    border-radius: 20px;
    max-width: 1500px;
    height: 650px;
  }
  #articleSection .articleText {
    max-width: 1100px;
    padding: 35px 150px;
  }
  #articleSection .smallImg {
    max-width: 800px !important;
  }
  #articleSection #authorSection {
    max-width: 800px;
  }
  #contactSection {
    padding: 155px;
  }
  #contactSection #contactCard {
    height: auto !important;
  }
  #contactSection #contactCard form {
    padding: 24px 48px;
  }
  #contactSection #contactCard form #contactHeaderText {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #contactSection #contactCard form #contactHeaderText h3 {
    color: #0063A7;
    font-size: 30px;
    padding-bottom: 10px;
  }
  #contactSection #contactCard form #contactHeaderText p {
    font-size: 16px;
  }
  #contactIconsSection {
    height: 200px;
    padding: 0px 50px;
  }
  #iconsFAQ {
    height: auto;
  }
  #iconsFAQ h3 {
    margin-top: 65px;
  }
  #iconsFAQ #iconsFaqContainer {
    background-color: transparent !important;
    margin-bottom: -90px;
    margin-top: 110px;
    padding: 0px 5% !important;
  }
  #iconsFAQ #iconsFaqContainer .faqCard {
    height: 146px;
    width: 235px;
  }
  #iconsFAQ #iconsFaqContainer .faqCard img {
    width: 60px;
    height: 60px;
  }
  .maxHeight {
    max-height: 50px;
  }
  #preguntasMainContainer {
    background-color: #D9ECB9;
    padding-bottom: 30px;
  }
  #preguntasMainContainer #preguntasSection {
    max-width: 1500px !important;
  }
  #preguntasMainContainer #preguntasSection h3 {
    margin-top: 120px;
    margin-bottom: 50px;
  }
  #preguntasMainContainer #preguntasSection .question {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  #headerSolucionesCont #headerConocenos {
    height: 561px;
    padding-bottom: 80px;
  }
  #headerSolucionesCont #headerConocenos h3 {
    line-height: 50px !important;
  }
  #iconsSolutions {
    background-color: transparent !important;
    height: auto;
    margin-top: -120px;
  }
  #iconsSolutions .faqCard {
    height: 146px;
    width: 200px;
  }
  #iconsSolutions .faqCard img {
    width: 60px;
    height: 60px;
  }
  #solutionsMainCont {
    background-color: #D9ECB9;
  }
  #solutionsContainer {
    margin-top: -122px !important;
    max-width: 1300px;
    padding-top: 150px;
    padding: 150px 70px 0px 70px;
  }
  #solutionsContainer #subtitleDestacados {
    padding-left: 3%;
  }
  #solutionsContainer #subtitleDestacados h2 {
    text-align: start;
  }
  #solutionsContainer #cardSoluciones1 {
    margin-top: 170px;
  }
  #solutionsContainer #cardSoluciones2 {
    margin-top: -130px;
  }
  #solutionsContainer #cardSoluciones2 .seeMore {
    padding-top: 10px !important;
  }
  #solutionsContainer #cardSoluciones3 {
    margin-bottom: 50px;
    margin-top: -200px;
  }
  #solutionsContainer #cardSoluciones3 .seeMore {
    margin-top: 75px !important;
  }
  #solutionsContainer .cardPrimary {
    height: 525px !important;
    width: 380px !important;
  }
  #solutionsContainer .cardPrimary img {
    height: 236 !important;
  }
  #solutionsContainer .cardPrimary .card-body {
    height: 289px;
    padding-top: 24px;
  }
  #solutionsContainer .cardPrimary .card-body h5 {
    margin-bottom: 16px;
  }
  #solutionsContainer .cardPrimary .card-body .seeMore {
    margin: 0 !important;
    padding: 0px !important;
  }
  #headerMainServicios #header-section {
    background-color: #D9ECB9;
    height: 668px !important;
  }
  #headerMainServicios #header-section #serviciosHeader {
    max-width: 1400px !important;
  }
  #headerMainServicios #header-section #serviciosHeader #header-container #green-rectangle {
    background: #96C93D;
    border-radius: 0px 0px 80px 80px;
    height: 165px !important;
    margin: -12px auto 10px auto;
    width: 112px;
  }
  #headerMainServicios #header-section #serviciosHeader #header-container #image-2 {
    border-radius: 80px;
    margin-top: -4px !important;
  }
  #headerMainServicios #header-section #serviciosHeader #header-container #image-4 {
    height: 293px;
    width: 142px;
  }
  #headerMainServicios #header-section #serviciosHeader #header-container #green-rectangle2 {
    background: #96C93D;
    border-radius: 80px 80px 0px 0px;
    height: 71px !important;
    margin: 10px 0px 15px 0px !important;
    width: 142px !important;
  }
  #headerMainServicios #header-section #serviciosHeader #header-text #header-text-box h1 {
    margin-bottom: 20px !important;
  }
  #headerMainServicios #header-section #serviciosHeader #header-text #header-text-box p {
    font-size: 16px !important;
    margin-bottom: 60px;
  }
  #headerMainServicios #header-section #serviciosHeader #partnerHeaderServ {
    margin-top: 210px;
    padding: 0px 50px;
  }
  #headerMainServicios #header-section #serviciosHeader #partnerHeaderServ h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 23px;
  }
  #headerMainServicios #header-section #serviciosHeader #partnerHeaderServ #imgServHeader {
    border-radius: 16px;
    height: 71px;
    margin-right: 14px;
    width: 125px;
  }
  #headerMainServicios #header-section #serviciosHeader #partnerHeaderServ #imgServHeader img {
    margin-top: 20px;
  }
  footer {
    height: 408px !important;
    padding-top: 50px;
  }
  footer #footer-banner {
    height: 233px;
    margin-top: -170px;
    margin-bottom: 30px;
  }
  footer #icons-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto !important;
    padding-bottom: 30px;
  }
  footer #icons-container div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  footer #icons-container img {
    padding-top: 30px;
  }
}

@media (min-width: 1200px) {
  #principalArticle {
    padding: 0px 65px;
  }
  #principalArticle #misionSection #misionImage {
    height: 536px;
  }
  #principalArticle #misionSection #misionText {
    padding: 80px 65px !important;
  }
  #contactIconsSection {
    height: 200px;
    padding: 0px 150px;
  }
  #iconsFAQ #iconsFaqContainer {
    padding: 0px 14% !important;
  }
  #iconsSolutions .faqCard {
    height: 146px;
    width: 235px;
  }
  #iconsSolutions .faqCard img {
    width: 60px;
    height: 60px;
  }
  #solutionsContainer {
    padding: 150px 150px 0px 150px;
  }
  #solutionsContainer #subtitleDestacados {
    padding-left: 0%;
  }
}

@media (min-width: 1300px) {
  #team-drop-text-container h3 {
    width: 70%;
  }
  #header-container {
    padding-right: 50px !important;
  }
  #message-container {
    max-width: 1400px !important;
  }
  #headerConocenos img {
    border-radius: 20px;
    height: 408px !important;
    max-width: 611px !important;
  }
  #valoresText h3 {
    margin-left: 26% !important;
  }
  #valoresText p {
    margin-left: 36% !important;
  }
  #headerBlog {
    padding: 0px 100px;
  }
  #headerBlog #blogHeaderImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    -webkit-box-shadow: #0063a7 -14px -14px 0px;
            box-shadow: #0063a7 -14px -14px 0px;
    color: white;
    height: 349px;
    position: relative;
    width: 508px;
  }
  #postsContainer .cardPrimary:first-of-type .card-body {
    padding: 40px 84px;
  }
  #principalArticle {
    padding: 0px 100px;
  }
  #principalArticle #misionSection {
    height: 536px;
  }
  #principalArticle #misionSection #misionImage {
    height: 536px;
  }
  #principalArticle #misionSection #misionText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 100px 110px;
  }
  #destacadosBlog #destacadosContainer {
    padding: 65px 70px !important;
  }
  #destacadosBlog #destacadosContainer h2 {
    margin-bottom: 22px !important;
  }
  #destacadosBlog #destacadosContainer button {
    margin-top: 20px;
  }
  #articleSection .articleText {
    padding: 35px 150px;
  }
  #headerMainServicios #header-section {
    max-width: 100%;
    padding-left: 50px !important;
  }
  #headerMainServicios #header-section #serviciosHeader #header-text p {
    padding: 0 50px 0px 0px !important;
  }
}

@media (max-width: 340px) {
  #header-container {
    display: none !important;
  }
  #header-text {
    position: relative;
  }
  #coberturaSection img {
    height: 120px;
    width: 225px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #solutionsContainer {
    padding: 50px 100px;
  }
}
/*# sourceMappingURL=style.css.map */