
// Colors
$light-green: #D9ECB9;
$soft-green: #96C93D;
$strong-green: #81BD41;
$blue-primary: #0063A7;
$blue-background: #2B328C;
$black-titles: #231F20;
$black-subtitles: #18191F;
$text-gray: #56565A;

// Size
$min-size: 14px;
$text-size: 16px;
$medium-size: 18px;

// Titles
$font-14: 14px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-42: 42px;
$font-40: 40px;
$font-32: 32px;
$font-34: 34px;
$font-35: 35px;






html{
    height: 100%;
}

a{
    cursor: pointer;
    text-decoration: none !important;
}

body{
    font-family: 'Rubik', sans-serif;
    height: 100%;
    margin: 0;
    h1{
        font-weight: 500;
    }
}

.button-primary{
    background: $blue-primary;
    border-color: $blue-primary;
    border-radius: 10px;
    color: white;
    width: 250px !important;
    height: 60px !important;
}

.button-green{
    background: $strong-green;
    border-color: $strong-green;
    border-radius: 10px;
    color: white;
    width: 250px !important;
    height: 60px !important;
}

.bg-green-light{
    background-color: $light-green !important;
}

.text-gray{
    color: $text-gray !important;
}


// Navbar --------------------------------
#navbar{
    background: $soft-green !important;
    #navbarNavDropdown{
        a{
            color: $black-titles;
        }
    }
}

.contact-button{
    background-color: $blue-primary;
    border-radius: 100px;
    color: white;
    height: 39px;
    width: 148px;
}


// Home page ****************************************************

#header-container{
    height: 300px;
    #image-1{
        border-radius: 0px 0px 80px 80px;
    }
    #green-rectangle{
        background: $soft-green;
        border-radius: 0px 0px 80px 80px;
        height: 135px;
        margin: -12px auto 10px auto;
        width: 112px;  
    }
    #image-2{
        border-radius: 80px 80px 0px 0px;
    }
    #image-3{
        border-radius: 0px 0px 80px 80px;
    }
}

#header-text{
    background-color: rgba(255, 255, 255, 0.6);
    height: 300px;
    padding: 0px 20px;

    #header-text-box{

        h1{
            font-size: 24px;
            font-weight: 500;
            span{
                font-weight: 700;
            }
        }
        
    }
    
}

// Body and Main content --------------------------------

.bg-green-light{
    background-color: $light-green !important;
}

#team-drop{
    border-radius: 150px 0px 150px 0px;
    margin-top: 20px;
    height: 405px;
    width: 270px;
}

#benefits-container{
    h3{
        font-size: 24px;
        line-height: 32px;
    }
    p{
        color: $text-gray;
    }
}


#message-container{
    background: white;
    border-radius: 10px;
    color: $black-subtitles!important;
    font-family: 'Inter', sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 30px;
    margin: 30px;
    padding: 20px;
    text-align: left;
    .quotation{
        color: #2EC5CE;        ;
        font-size: 72px;
        margin-top: 16px;
    }
}

#triangle{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid white;
    height: 0;
    position: absolute;
    width: 0;
}

// END Home page ****************************************************



// Conócenos page ****************************************************


// Header

#headerConocenos{
    background-image: url('../img/background/bg-sm-conocenos.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 421px;
    position: relative;
    &::before{
        background-color: rgba(0,0,0,0.4);
        bottom: 0;
        content:'';
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    div{
        h3{
            font-size: $font-35;
            font-weight: 500;
            span{
                font-weight: 700;
            }
        }
        p{
            font-size: $font-14;
            font-weight: 400;
            margin-top: 21px;
        }
        button{
            margin-top: 30px;
        }
    }
   
}

// Partners

#partnersConocenos{
    height: 277px;
    div{
        h3{
            font-size: $font-24;
            margin-top: 40px;
        }
        div{
            margin-top: 25px;
        }
    }
    
}

// Mision section

#misionSection{
    height: 800px;
    #misionImage{
        background-image: url('../img/people/mision-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 337px;
    }
    div{
        h3{
            color: $black-subtitles;
            font-size: $font-35;
            padding-bottom: 15px;
        }
        p{
            color: $black-titles;
            font-size: 18px;
            line-height: 32px;
            padding-bottom: 25px;
        }
        a{
            color: $soft-green;
        }
    }
    div:last-child{
        padding: 0px 20px ;
    }
}

// Valores section

#valoresSection{
    height: 1000px;
    #valoresImage{
        background-image: url(../img/people/valores-sm-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 336px;
        position: relative;
    }
    #valoresText{
        text-align: center !important;
        h3{
            font-size: $font-35;
            font-weight: 500;
        }
        p{
            color: $black-titles;
            font-size: $font-24;
            margin-top: 41px;
            &::before{
                margin-top: -13px;
                margin-left: -80px;
                position: absolute;
            }
            
        }
        #pasionIcon{
            &::before{
                content: url('../img/icons/valores/pasion.png');
            }
        }
        #humanismoIcon{
            &::before{
                content: url('../img/icons/valores/humanismo.png');
            }
        }
        #enfoqueIcon{
            &::before{
                content: url('../img/icons/valores/enfoque.png');
            }
        }
        #excelenciaIcon{
            &::before{
                content: url('../img/icons/valores/excelencia.png');
            }
        }
        #compromisoIcon{
            &::before{
                content: url('../img/icons/valores/compromiso.png');
            }
        }
        #honestidadIcon{
            &::before{
                content: url('../img/icons/valores/honestidad.png');
            }
        }
    }
}

// Transformando section

#icons-section{
    background-color: $light-green;
    height: 750px;
    h2{
        font-size: $font-34;
        font-weight: 500;
        line-height: 44px;
        margin-top: 50px;
        span{
            color: $text-gray;
        }
    }
    h3{
        color: $black-titles;
        font-size: $font-18;
        font-weight: 700;
    }
    p{
        color: $text-gray;
        font-size: $font-14;
    }
}

// Cobertura section

#coberturaSection{
    height: 553px;
    div{
        h3{
            font-size: $font-35;
            font-weight: 500;
            line-height: 45px;
            padding-bottom: 15px;
        }
        p{
            color: $text-gray;
            font-size: $font-14;
            padding: 0px 10px;
        }
    }
    img{
        height: 170px;
        margin-top: -50px;
        width: 335px;
    }
}

#partnersConocenos2{
    background-color: $light-green;
    height: 277px;
    div{
        h3{
            font-size: $font-24;
            margin-top: 40px;
        }
        div{
            margin-top: 25px;
        }
        div:last-child{
            img:last-child{
                margin-top: 25px;
            }
        }
    }
    
}

//Banner conocenos

#bannerConocenos{
    background-image: url('../img/background/banner-conocenos-sm.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 224px;
    h3{
        color: white;
        font-size: $font-24;
        font-weight: 400;
    }
}

// END Conócenos page ****************************************************


// Footer --------------------------------
footer{
    bottom: 0;
    display: block;
    background: $strong-green;
    width: 100%;

    #links-footer{
        a{
            text-decoration: none;
            color: $black-titles;
        }
    }
}


// Dispositivos móviles

@media (max-width: 767px){

    // header

    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
        padding: 0px 50px;
    }

    #header-text{
        position: absolute;
        #home-title{
            line-height: 31px !important;
        }
    }

    #navbar{
        background: $soft-green !important;
        padding: 0px 0px 0px 8px;
        text-align: center;
        transition-duration: 0.2s;
        
        a{
            color: white;
            &:hover{
                background: white;
                color: black;
                transition-duration: 0.2s;
            }
        }
    }

    // Content

    #team-drop-row{
        
        text-align: center;
        width: 100%;
        p{
            color: $text-gray;
        }
    }

    #icons-container{
        width: 75%;
    }

    // Footer

    #contact-button-section{
        height: 286px;
    }
    
    footer{
        align-items: center;
        background: $strong-green;
        display: flex;
        height: 484px;

        #footer-container{
            justify-content: center;
        }

        #links-footer{
            a{
                color: $black-titles;
                cursor: pointer;
                font-size: 16px;
                font-weight: 400;
                padding: 13px;
                text-decoration: none;
            }
        }
        #icons-container{
            justify-content: center;

            div{
                justify-content: space-between;
            }
            img{
                padding-top: 25px;
            }
        }
    }
}

// Tableta
@media (min-width: 768px){

    // Home************************************************************************************************

    // Header

    #people-container{
        background:  black !important;
    }

    #green-rectangle{
        background: $soft-green;
        border-radius: 0px 0px 80px 80px;
        height: 170px !important;
        margin: 0px 0px 15px 0px !important;
        width: 142px !important;  
    }   

    #header-section{
        max-width: 1500px;

        height: 348px;
        #header-text{
            background-color: rgba(255, 255, 255, 0.6);
            height: 400px !important;
            padding: 0px 50px;
            position: absolute;  
        
            #header-text-box{
                margin-top: -50px;
                justify-content: start !important;
                text-align: left;
                width: 75%;

                #home-title{
                    line-height: 42px !important;
                }
                h1{
                    font-size: $font-32;
                    
                    text-align: left;
                    span{
                        font-weight: 700;
                    }
                }
                
            }
            
        }
    }

    #team-drop-text-container{
        p{
            color: $text-gray;
        }
    }

    .subtitles-md{
        font-size: $font-35 !important;
        text-align: center;
    }
    .numbers-md{
        font-size: $font-18;
    }

    #team-drop-section{
        margin-top: 120px;
        #team-drop-row{
            width: 65%;
        }
    }

    #icons-container{
        justify-content: space-between;
        margin-left: 13px !important;
        padding-bottom: 30px;

        div{
            justify-content: space-between;
            width: 100%;
        }
        img{
            padding-top: 30px;
        }
    }

    #icons-md-section{
        
        height: 50px;
        justify-content: center;
        padding-left: 4%;
        margin-top: 35px;
        position: absolute !important;
        width: 100%;
        z-index: 100; 

        #icons-md-container{
            background:white;
            box-shadow: 1px 1px 10px rgb(230, 230, 230) !important;
            border-radius: 10px;
            height: 153px !important;
            margin-top: -120px;
            
            width: 92%;
            p{
                font-size: $min-size;
            }
        }
    }

    .icono-wrap div{
        width: 100% !important;
    }

    #message-container{
        font-size: 18px !important;
    }

    // END Home************************************************************************************************


    // Conócenos ************************************************************************************************

    // header
    #headerConocenos{
        background-image: url('../img/background/bg-md-conocenos.png');
        div{
            margin: 0px auto;
            width: 75%;
            h3{
                font-size: $font-32;
            }
            p{
                font-size: 16px;
            }
        }
    }

    #partnersConocenos{
        height: 188px;
        h3{
            margin-top: 20px !important;
        }
    }

    // END Conócenos ************************************************************************************************

    // Footer

    footer{
        height: 369px !important;
        #footer-banner{
            background: white;
            border-radius: 10px;
            margin-left: 2%;
            margin-top: -90px;
            height: 176px;
            width:  96%;
        }
    }
    


}

// desktop screen section
@media (min-width: 992px){

    #header-section{

        #header-container{
            #image-4{
                border-radius: 80px 80px 0px 0px;
                margin-top: 30px;
            }
            #image-5{
                border-radius: 80px 80px 0px 0px;
                margin-top: 30px;
            }
        }

        #header-text{
            background-color: rgba(255, 255, 255, 0) !important;
            padding: 0px 20px;
            background-color: red;
        
            #header-text-box{
                padding-left: 30px;
                #home-title{
                    line-height: 50px !important;
                }
                h1{
                    font-size: 42px !important;
                    font-style: normal;
                    width: 555px;
                    
                    span{
                        font-weight: 700;
                    }
                }
                
            }
            
        }
    }

    // content

    #team-drop-section{
        margin-top: 230px;
        #last-icons-container{
            border-right: none !important;
        }

        #icons-md-container{
            height: 200px !important;
        }

        .icons-lg-container{
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;

            .icons-header-container{
                border-right: 2px solid #EEEFF2;
                justify-content: center;
                height: 75%;
                div{
                    width: 50% !important;
                }
            }

            img{
                display: block;
                height: 55px;
                width: 55px;
            }
            div{
                text-align: left;
                h3{
                    font-size: 25px;
                }
            }
        }
        #team-drop-row{
            text-align: left !important;
            width: 80%;
            #team-drop{          
                    margin-top: 70px;
                    margin-bottom: 10px;
                    height: 523px;
                    width: 349px;
            }
        }
        #team-drop-text-container{
            padding-top: 30px;
            h3{
                text-align: left;
                padding: 0px !important;
                width: 90%;
            }
        }

    }

    // Footer
    footer{
        height: 408px !important;
        padding-top: 50px;
        #footer-banner{
            height: 233px;
            margin-top: -170px;
            margin-bottom: 30px;
        }
        #icons-container{
            justify-content: space-between;
            margin-left: auto !important;
            padding-bottom: 30px;
            div{
                justify-content: space-between;
                width: 100%;
            }
            img{
                padding-top: 30px;
            }
        }
    }

    
}

@media (min-width: 1300px){
    #team-drop-text-container{
        h3{
            width: 70%;
        }
    }
    #header-container{
        padding-right: 50px !important;
    }
    #message-container{
        max-width: 1400px !important;
        
    }
}

@media (max-width: 340px){
    #header-container{
        display: none !important;
    }
    #header-text{
        position: relative;
    }

    #coberturaSection{
        img{
            height: 120px;
            width: 225px;
        }
    }
}