
// Colors
$light-green: #D9ECB9;
$soft-green: #96C93D;
$strong-green: #81BD41;
$blue-primary: #0063A7;
$blue-background: #2B328C;
$black-titles: #231F20;

// Size
$min-size: 14px;
$text-size: 16px;
$medium-size: 18px;



html{
    height: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
    height: 100%;
    margin: 0;
    h1{
        font-weight: 500;
    }
}

.button-primary{
    background: $blue-primary;
    border-color: $blue-primary;
    border-radius: 10px;
    color: white; 
}

.bg-green-light{
    background-color: $light-green !important;
}

// Navbar --------------------------------
#navbar{
    background: $soft-green !important;
}


#header-container{
    height: 300px;
    #image-1{
        border-radius: 0px 0px 80px 80px;
    }
    #green-rectangle{
        background: $soft-green;
        border-radius: 0px 0px 80px 80px;
        height: 135px;
        margin: -12px auto 10px auto;
        width: 112px;  
    }
    #image-2{
        border-radius: 80px 80px 0px 0px;
    }
    #image-3{
        border-radius: 0px 0px 80px 80px;
    }
}

#header-text{
    background-color: rgba(255, 255, 255, 0.6);
    height: 300px;
    padding: 0px 20px;

    #header-text-box{

        h1{
            font-size: 24px;
            font-weight: 500;
            span{
                font-weight: 700;
            }
        }
        
    }
    
}

// Body and Main content --------------------------------

.bg-green-light{
    background-color: $light-green !important;
}

#team-drop{
    border-radius: 150px 0px 150px 0px;
    margin-top: 20px;
    padding: 0px 35px;
}

// #benefits-container{

// }
.text-benefits{
    width: 90%;
}

#message-container{
    background: white;
    border-radius: 10px;
    color: #18191F !important;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 30px;
    margin: 30px;
    padding: 20px;
    text-align: left;
}

#triangle{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid white;
    height: 0;
    margin-top: 10px;
    position: absolute;
    width: 0;
}

// Footer --------------------------------
footer{
    bottom: 0;
    display: block;
    background: $strong-green;
    width: 100%;

    #links-footer{
        a{
            text-decoration: none;
            color: $black-titles;
        }
    }
}

@media (max-width: 768px){

    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }

    #header-text{
        position: absolute;
    }

    #navbar{
        background: $soft-green !important;
        padding: 0px 0px 0px 8px;
        text-align: center;
        transition-duration: 0.2s;
        
        a{
            color: white;
            &:hover{
                background: white;
                color: black;
                transition-duration: 0.2s;
            }
        }
    }
    
    footer{
        align-items: center;
        background: $strong-green;
        display: flex;
        height: 484px;

        #footer-container{
            justify-content: center;
        }

        #links-footer{
            a{
                color: $black-titles;
                cursor: pointer;
                font-size: 16px;
                font-weight: 400;
                padding: 13px;
                text-decoration: none;
            }
        }
        #icons-container{
            justify-content: center;

            div{
                justify-content: space-between;
            }
            img{
                padding-top: 25px;
            }
        }
    }
}


@media (max-width: 340px){
    #header-container{
        display: none !important;
    }
    #header-text{
        position: relative;
    }
}




