
// Colors
$light-green: #D9ECB9;
$soft-green: #96C93D;
$strong-green: #81BD41;
$blue-primary: #0063A7;
$blue-background: #2B328C;
$black-titles: #231F20;

body{
    font-family: 'Rubik', sans-serif;
}

#navbar{
    background: $soft-green !important;
    padding: 0px 0px 0px 8px;
}


// Footer
footer{
    bottom: 0;
    // display: block;
    background: $strong-green;
    position: fixed;
    width: 100%;

    #links-footer{
        a{
            text-decoration: none;
            color: $black-titles;
        }
    }
}

@media (max-width: 768px){


    #navbar{
        background: $soft-green !important;
        height: 80px;
        padding: 0px 0px 0px 8px;
    }

    
    footer{
        align-items: center;
        background: $strong-green;
        display: flex;
        height: 484px;

        #footer-container{
            justify-content: center;
        }

        #links-footer{
            a{
                color: $black-titles;
                cursor: pointer;
                font-size: 16px;
                font-weight: 400;
                padding: 13px;
                text-decoration: none;
            }
        }
        #icons-container{
            justify-content: center;

            div{
                justify-content: space-between;
            }
            img{
                padding-top: 25px;
            }
        }
    }
}




